.create-post-container {
    background: #243447;
    min-height: 100vh;
}



.create-post-nav {
    display: flex;
    width: 100%;
    color: white;
    border-bottom: 1px solid rgba(153, 153, 153, 0.2);
    height: 7vh;
    justify-content: space-between;
    align-items: center;
}

.create-post-nav button {
    border: none;
    border-radius: 20px;
    width: 20%;
    margin-right: 4%;
    padding: 2%;
}

.active {
    color: rgb(231,245,254);
    background-color: rgb(29,161,242);
}

.inactive {
    color: rgb(138,143,149);
    background-color: rgb(25,96,142);
}

.create-post-nav p {
    margin-left: 4%;
}

.create-post-nav i, a {
    font-size: 1.75rem; 
    color: white;
}



.test {
    display: flex;
    flex-wrap: wrap;
    margin-left: 4%;
}

.pfp-container {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    border: 2px solid #e0e0e0;
    overflow: hidden;
    margin-right: 1.25rem;
    margin-top: 1rem;
  }

.pfp-container img {
    height: 100%;
    width: 100%;
  }

.text-area-container {
    width: 50%;
    margin-top: 7%;
    margin-bottom: 0;
}



.text-area-container textarea {
    background: #243447;
    border: none;
    border-bottom: .15px solid rgba(153, 153, 153, 0.2);
    resize: none;
    outline: none;
    overflow: auto;
    color: white;
    font-size: 2rem;
}

textarea::placeholder {
    color: rgb(136,153,166);
    font-weight: lighter;
}



.icon-container {
    display: flex;
    flex-direction: row;
    width: 75%;
    justify-content: space-between;
    align-items: center;
    margin-left: 18%;
    margin-top: 5%;
}

.icon-container i {
    color:rgb(29,161,242);
    font-size: 2.20rem;
}

.icon-container .char-counter {
    color: white;
    font-size: 1.3rem;
}