.post-container {
    display: flex;
    color: white;
    font-size: 1.4rem;
    border-bottom: .15px solid rgba(153, 153, 153, 0.2);
    padding: 1.25rem;
}

.pfp-container {
    height: 3.85rem;
    width: 3.85rem;
    border-radius: 50%;
    border: 2px solid #e0e0e0;
    overflow: hidden;
    margin-right: 1rem;
  }
  
.pfp-container img {
    height: 100%;
    width: 100%;
  }

.post-content {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
}

.post-interaction {
    display: flex;
    align-self: flex-end;
    width: 90%;
    margin-top: 5%;
    justify-content: space-between;
}

.user-post-info {
    font-weight: 500;
}

.user-post-handle {
    color: #999;
    font-weight: 300;
}

.post-icon {
    color: #999;
}