.nav {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.5px solid rgba(153, 153, 153, 0.2);
  padding: 0 1.5rem;
}

.nav a,
.nav a:link,
.nav a:active {
  height: 100%;
  padding: 1rem 0;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  text-decoration: none;
  font-size: 1.6rem;
  color: #999;
  font-weight: 500;
  -webkit-tap-highlight-color: transparent;
}

.active p {
  color: #fff;
}

.active {
  border-bottom: 3px solid #1da1f2;
}
