.item {
  padding: 1.25rem;
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.item__pfp-container {
  height: 4rem;
  width: 4rem;
  border: none;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item__pfp-img {
  height: 100%;
}

.item__user-info {
  margin-left: 0.85rem;
}

.item__user-info p {
  font-size: 1.5rem;
}

.item__user-info--handle {
  color: #999;
}
